:root {
	--container-width: 1600px;
	--container-padding: 0 50px;

	--font-family: "Kodchasan", sans-serif;

	--page-bg: #fff;

   --laptop-size: 1600px;
	--tablet-size: 1020px;
	--mobile-size: 700px;
}