.footer {
	background: linear-gradient(57deg, #ff9d2d 0%, #ffd877 100%);
	margin-top:141px;
	@include tablet {
		 margin-top:90px
	}
	@include mobile {
		 margin-top:50px;
	}
	@include mobile500 {
		 margin-top:30px;
	}
}
.container__footer {
	max-width: 1246px;
	margin:0 auto;
	@include mobile {
		padding:0 10px;
	}
}
.footer__row {
	padding:24px 0 46px 0;
	display: grid;
	flex-wrap: wrap;
	grid-template-columns: 10.1fr 31.1fr 197px 41.4fr; //116px 357px 197px 475px
	@include tablet {
		 grid-template-columns: 1fr 1fr;
		 grid-template-rows: 0.7fr 1fr;
		 gap:10px 15px;
	}
	@include mobile {
		 grid-template-columns: 0.5fr 0.9fr;
		
	}
	@include mobile500 {
		  padding:min(1vw, 24px) 0 10px 0;
	}
}
.footer__logo {
	display: flex;
	align-items: center;
	@include tablet {
		 margin:0 auto;
		 margin-top:auto;
	}
}

.footer__blockquote {
	font-weight: 500;
	font-size: 14px;
	line-height: 160%;
	opacity: 0.7;
	@include tablet {
		grid-column: 1/2;
		grid-row: 2/3;
		margin:auto;
		text-align: center;
		padding:0 clamp(0rem, -2.804rem + 6.41vw, 2.188rem);
	}
}
.footer__nav {
	display: flex;
	gap:0 40px;
	align-items: center;
	& svg:hover {
		transform: scale(1.3);
	}
	@include tablet {
		 margin:0 auto;
		 margin-top:auto;
	}
	@include mobile {
		gap:0 20px;
		margin-bottom:3px;
	}
}
.footer__nav-link {
	@include mobile {
		 margin-top:auto;
	}
}

.footer__app-links {
	display:flex;
	margin-left:auto;
	gap: 0 20px;
	@include tablet {
		 margin:0 auto;
		 gap:0 30px
	}
	@include mobile {
		 margin-top:auto;
	}
	@include mobile500 {
		 flex-wrap: wrap;
		 gap:20px 30px;
		 margin:auto;
	}

}
.footer__app-link {
	&:hover {
		transform: scale(1.1);
	}
	& img {
			width:140px;
		}
	@include mobile500 {
		width:110px;
		margin:auto;
		max-height:42px;
	}

}